<h2 class="snippet-title"><%= @snippet.title %></h2>
<p class="snippet-desc"><%= @snippet.desc %></p>
<p class="snippet-code"><%= @snippet.code %></p>
<%= link_to "Back", snippets_path %>
<%= link_to "Edit", edit_snippet_path(@snippet) %>
